In [1]:
import numpy as np
import pandas as pd
import os
import re
import pandasql as psql

In [2]:
state_abb_dict = {'Alabama': 'AL',
                  'Alaska': 'AK',
                  'Arizona': 'AZ',
                  'Arkansas': 'AR',
                  'California': 'CA',
                  'Colorado': 'CO',
                  'Connecticut': 'CT',
                  'Delaware': 'DE',
                  'DC': 'DC',
                  'Florida': 'FL',
                  'Georgia': 'GA',
                  'Hawaii': 'HI',
                  'Idaho': 'ID',
                  'Illinois': 'IL',
                  'Indiana': 'IN',
                  'Iowa': 'IA',
                  'Kansas': 'KS',
                  'Kentucky': 'KY',
                  'Louisiana': 'LA',
                  'Maine': 'ME',
                  'Maryland': 'MD',
                  'Massachusetts': 'MA',
                  'Michigan': 'MI',
                  'Minnesota': 'MN',
                  'Mississippi': 'MS',
                  'Missouri': 'MO',
                  'Montana': 'MT',
                  'Nebraska': 'NE',
                  'Nevada': 'NV',
                  'NewHampshire': 'NH',
                  'NewJersey': 'NJ',
                  'NewMexico': 'NM',
                  'NewYork': 'NY',
                  'NorthCarolina': 'NC',
                  'NorthDakota': 'ND',
                  'Ohio': 'OH',
                  'Oklahoma': 'OK',
                  'Oregon': 'OR',
                  'Pennsylvania': 'PA',
                  'RhodeIsland': 'RI',
                  'SouthCarolina': 'SC',
                  'SouthDakota': 'SD',
                  'Tennessee': 'TN',
                  'Texas': 'TX',
                  'Utah': 'UT',
                  'Vermont': 'VT',
                  'Virginia': 'VA',
                  'Washington': 'WA',
                  'WestVirginia': 'WV',
                  'Wisconsin': 'WI',
                  'Wyoming': 'WY'}

fips_dict = {'Alabama': '01',
              'Alaska': '02',
              'Arizona': '04',
              'Arkansas': '05',
              'California': '06',
              'Colorado': '08',
              'Connecticut': '09',
              'Delaware': '10',
              'DC': '11',
              'Florida': '12',
              'Georgia': '13',
              'Hawaii': '15',
              'Idaho': '16',
              'Illinois': '17',
              'Indiana': '18',
              'Iowa': '19',
              'Kansas': '20',
              'Kentucky': '21',
              'Louisiana': '22',
              'Maine': '23',
              'Maryland': '24',
              'Massachusetts': '25',
              'Michigan': '26',
              'Minnesota': '27',
              'Mississippi': '28',
              'Missouri': '29',
              'Montana': '30',
              'Nebraska': '31',
              'Nevada': '32',
              'NewHampshire': '33',
              'NewJersey': '34',
              'NewMexico': '35',
              'NewYork': '36',
              'NorthCarolina': '37',
              'NorthDakota': '38',
              'Ohio': '39',
              'Oklahoma': '40',
              'Oregon': '41',
              'Pennsylvania': '42',
              'RhodeIsland': '44',
              'SouthCarolina': '45',
              'SouthDakota': '46',
              'Tennessee': '47',
              'Texas': '48',
              'Utah': '49',
              'Vermont': '50',
              'Virginia': '51',
              'Washington': '53',
              'WestVirginia': '54',
              'Wisconsin': '55',
              'Wyoming': '56'}

state_dict = {'Alabama': 7,
              'Arizona': 9,
              'Arkansas': 4,
              'California': 53,
              'Colorado': 8,
              'Connecticut': 5,
              'Florida': 27,
              'Georgia': 14,
              'Hawaii': 2,
              'Idaho': 2,
              'Illinois': 18,
              'Indiana': 9,
              'Iowa': 4,
              'Kansas': 4,
              'Kentucky': 6,
              'Louisiana': 6,
              'Maine': 2,
              'Maryland': 8,
              'Massachusetts': 9,
              'Michigan': 14,
              'Minnesota': 8,
              'Mississippi': 4,
              'Missouri': 8,
              'Nebraska': 3,
              'Nevada': 4,
              'NewHampshire': 2,
              'NewJersey': 12,
              'NewMexico': 3,
              'NewYork': 27,
              'NorthCarolina': 13,
              'Ohio': 16,
              'Oklahoma': 5,
              'Oregon': 5,
              'Pennsylvania': 18,
              'RhodeIsland': 2,
              'SouthCarolina': 7,
              'Tennessee': 9,
              'Texas': 36,
              'Utah': 4,
              'Virginia': 11,
              'Washington': 10,
              'WestVirginia': 3,
              'Wisconsin': 8}

In [3]:
# Make an empty dataframe
def create_df():
    dtypes = np.dtype(
        [
            ('State', object),
            ('STATE_ABB', object),
            ('FIPS', object),
            ('CD', object),
            ('Median household income', object),
            ('Median nonfamily income', object),
            ('Persons aged 18 to 64 in poverty', object),
            ('Persons over 65 in poverty', object),
            ('Unemployed civilians', object),
            ('Less than 9th grade', object),
            ('9th to 12th grade, no diploma', object),
            ('High school graduate (includes equivalency)', object),
            ('Some college, no degree', object),
            ('Associates degree', object),
            ('Bachelors degree', object),
            ('Graduate or professional degree', object)
        ]
    )
    acs_final_df = pd.DataFrame(np.empty(0, dtype=dtypes))
    return acs_final_df

def new_arr(num_cd):
    districts = num_cd
    i = 0
    arr = []
    while i < (districts + 1) * 3 + 1:
        arr.append(i)
        i += 1
    return arr

def file_to_state(filename):
    text = filename
    new_text = text[0:10] + '(.*)' + text[-4:]
    result = re.search(new_text, text)
    return result.group(1)

In [4]:
# One CD state for CD dataset
my_dir = '/Users/darionguan/Desktop/Presidential Prediction/ACS/'
filename = 'ACSprofileAlaska.csv'
state_name = file_to_state(filename)
# acs_df = read_one_cd(my_dir + filename, state_name)

acs_df = pd.read_csv(my_dir + filename, header=None, usecols = [0, 1, 2, 3])

# Omit first three rows
acs_df = acs_df.iloc[3:,:]
# Change this value to 'Stat'
acs_df.iloc[1,0] = 'Stat'
# Reset index
acs_df = acs_df.reset_index(drop=True)

# Transpose
acs_df = acs_df.transpose()
# Strip trailing whitespace
acs_df.iloc[0] = acs_df.iloc[0].str.strip()
# First row becomes column names
acs_df.columns = acs_df.iloc[0]
# Drop first row
acs_df = acs_df.drop([0])
# Forward fill NaN on 'Subject' column
acs_df.loc[:,['Subject']] = acs_df.loc[:,['Subject']].ffill()
# If one CD, then change 'Subject' to '1'
acs_df.loc[acs_df['Subject'].str.startswith('Congressional District (at'), 'Subject'] = '1'.zfill(2)
# For DC, 'Subject' string starts with 'Delegate' as opposed to 'Congressional...'
acs_df.loc[acs_df['Subject'].str.startswith('Delegate'), 'Subject'] = '1'.zfill(2)
# Rename 'Subject' column to 'CD'
acs_df = acs_df.rename(columns={'Subject': 'CD'})

# Subset where Stat column is 'Pct'
pct_df = acs_df[acs_df['Stat'] == 'Pct']

# Subset where Stat column is 'Number'
acs_df = acs_df[acs_df['Stat'] == 'Number']

# Drop 'Stat' column
acs_df.drop('Stat', axis=1, inplace=True)
pct_df.drop('Stat', axis=1, inplace=True)

# Subset percentages
pct_df = pct_df[['CD', 'Persons aged 18 to 64 in poverty', 'Persons over 65 in poverty', 'Unemployed civilians']]

# Subset main df
acs_df = acs_df[['CD', 'Median household income', 'Median nonfamily income', 'Less than 9th grade',
                 '9th to 12th grade, no diploma', 'High school graduate (includes equivalency)',
                 'Some college, no degree', 'Associates degree', 'Bachelors degree',
                 'Graduate or professional degree']]

# Join columns from pct_df to acs_df
acs_df['Persons aged 18 to 64 in poverty'] = pct_df['Persons aged 18 to 64 in poverty'].values
acs_df['Persons over 65 in poverty'] = pct_df['Persons over 65 in poverty'].values
acs_df['Unemployed civilians'] = pct_df['Unemployed civilians'].values

# Set State column with default state name
acs_df['State'] = state_name

# Insert new column with state abbreviations based on state_abb_dict
acs_df.insert(0, 'STATE_ABB', acs_df['State'].map(state_abb_dict))    
# Insert column with FIPS state codes based on fips_dict
acs_df.insert(1, 'FIPS', acs_df['State'].map(fips_dict))
acs_df

,STATE_ABB,FIPS,CD,Median household income,Median nonfamily income,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency),"Some college, no degree",Associates degree,Bachelors degree,Graduate or professional degree,Persons aged 18 to 64 in poverty,Persons over 65 in poverty,Unemployed civilians,State
1,AK,02,01,75463,47508,10424,20666,139156,124261,43394,89583,56574,9.5,6.9,5.8,Alaska

In [5]:
# Multi- CD state for CD dataset

my_dir = '/Users/darionguan/Desktop/Presidential Prediction/ACS/'
filename = 'ACSprofileAlabama.csv'
state_name = file_to_state(filename)
cols = new_arr(state_dict[file_to_state(filename)])
state_name = file_to_state(filename)
# acs_df = read_multi_cd(my_dir + filename, state_name)

acs_df = pd.read_csv(my_dir + filename, header=None, usecols=cols)

# Omit first three rows
acs_df = acs_df.iloc[3:,:]
# Change this value to 'Stat'
acs_df.iloc[1,0] = 'Stat'
# Reset index
acs_df = acs_df.reset_index(drop=True)

# Transpose
acs_df = acs_df.transpose()
# Strip trailing whitespace
acs_df.iloc[0] = acs_df.iloc[0].str.strip()
# First row becomes column names
acs_df.columns = acs_df.iloc[0]
# Drop first row
acs_df = acs_df.drop([0])
# Forward fill NaN on 'Subject' column
acs_df.loc[:,['Subject']] = acs_df.loc[:,['Subject']].ffill()
# Substring 'Subject' values
acs_df['Subject'] = acs_df.Subject.mask(acs_df.Subject.str.len() > 24, acs_df.Subject.str[0:25])
# Strip trailing whitespace
acs_df['Subject'] = acs_df['Subject'].str.rstrip()
# Substring to last two characters if 'Subject' values start with 'Congressional'
acs_df['Subject'] = acs_df.Subject.mask(acs_df.Subject.str.startswith('Congressional'), acs_df.Subject.str[-2:])
# Strip leading whitespace
acs_df['Subject'] = acs_df['Subject'].str.lstrip()
# Fill in leading zeros
acs_df['Subject'] = acs_df['Subject'].astype(str).str.zfill(2)

# Rename 'Subject' column to 'CD'
acs_df = acs_df.rename(columns={'Subject': 'CD'})

# Subset where Stat column is 'Pct'
pct_df = acs_df[acs_df['Stat'] == 'Pct']

# Subset where Stat column is 'Number'
acs_df = acs_df[acs_df['Stat'] == 'Number']

# Drop 'Stat' column
acs_df.drop('Stat', axis=1, inplace=True)
pct_df.drop('Stat', axis=1, inplace=True)

# Subset percentages
pct_df = pct_df[['CD', 'Persons aged 18 to 64 in poverty', 'Persons over 65 in poverty', 'Unemployed civilians']]

# Subset main df
acs_df = acs_df[['CD', 'Median household income', 'Median nonfamily income', 'Less than 9th grade',
                 '9th to 12th grade, no diploma', 'High school graduate (includes equivalency)',
                 'Some college, no degree', 'Associates degree', 'Bachelors degree',
                 'Graduate or professional degree']]

# Join columns from pct_df to acs_df
acs_df['Persons aged 18 to 64 in poverty'] = pct_df['Persons aged 18 to 64 in poverty'].values
acs_df['Persons over 65 in poverty'] = pct_df['Persons over 65 in poverty'].values
acs_df['Unemployed civilians'] = pct_df['Unemployed civilians'].values

# Set State column with default state name
acs_df['State'] = state_name

# Insert new column with state abbreviations based on state_abb_dict
acs_df.insert(0, 'STATE_ABB', acs_df['State'].map(state_abb_dict))    
# Insert column with FIPS state codes based on fips_dict
acs_df.insert(1, 'FIPS', acs_df['State'].map(fips_dict))

# Remove the last row
acs_df = acs_df.iloc[:-1]
# Reset index
acs_df = acs_df.reset_index(drop=True)

acs_df

,STATE_ABB,FIPS,CD,Median household income,Median nonfamily income,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency),"Some college, no degree",Associates degree,Bachelors degree,Graduate or professional degree,Persons aged 18 to 64 in poverty,Persons over 65 in poverty,Unemployed civilians,State
0,AL,01,01,50663,30805,14362,44540,167287,103009,44489,80114,44217,14.4,10.2,5.7,Alabama
1,AL,01,02,50494,31799,19065,42762,147536,100874,43236,68419,40177,15.6,8.8,4.5,Alabama
2,AL,01,03,51925,25093,23068,49441,150179,99658,47236,65939,50452,15.4,10.2,5.9,Alabama
3,AL,01,04,47531,22794,24930,56731,163910,105245,43963,54939,29016,14.7,11.2,4.3,Alabama
4,AL,01,05,59950,33709,17397,36831,138163,101670,44494,106173,64018,12.8,7.9,4.3,Alabama
5,AL,01,06,69072,36650,14533,29426,114939,101328,38726,115867,70983,8.6,9.2,3.3,Alabama
6,AL,01,07,38023,24132,16965,43022,157227,88689,39770,56524,38519,22,16.7,6.8,Alabama

In [6]:
# Function for reading in 1 CD state for CD dataset
def read_one_cd(filename, state_name):
    acs_df = pd.read_csv(filename, header=None, usecols=[0, 1, 2, 3])

    # Omit first three rows
    acs_df = acs_df.iloc[3:,:]
    # Change this value to 'Stat'
    acs_df.iloc[1,0] = 'Stat'
    # Reset index
    acs_df = acs_df.reset_index(drop=True)

    # Transpose
    acs_df = acs_df.transpose()
    # Strip trailing whitespace
    acs_df.iloc[0] = acs_df.iloc[0].str.strip()
    # First row becomes column names
    acs_df.columns = acs_df.iloc[0]
    # Drop first row
    acs_df = acs_df.drop([0])
    # Forward fill NaN on 'Subject' column
    acs_df.loc[:,['Subject']] = acs_df.loc[:,['Subject']].ffill()
    # If one CD, then change 'Subject' to '1'
    acs_df.loc[acs_df['Subject'].str.startswith('Congressional District (at'), 'Subject'] = '1'.zfill(2)
    # For DC, 'Subject' string starts with 'Delegate' as opposed to 'Congressional...'
    acs_df.loc[acs_df['Subject'].str.startswith('Delegate'), 'Subject'] = '1'.zfill(2)
    # Fill in leading zeros
    acs_df['Subject'] = acs_df['Subject'].astype(str).str.zfill(2)

    # Rename 'Subject' column to 'CD'
    acs_df = acs_df.rename(columns={'Subject': 'CD'})
    
    # Prep subset df
    subset_df = acs_df[acs_df['Stat'] == 'Number']
    subset_df = subset_df[['Median household income', 'Median nonfamily income']]
    
    # Prep main df
    acs_df = acs_df[acs_df['Stat'] == 'Pct']
    acs_df = acs_df[['CD', 'Persons aged 18 to 64 in poverty', 'Persons over 65 in poverty', 'Unemployed civilians',
                     'Less than 9th grade', '9th to 12th grade, no diploma',
                     'High school graduate (includes equivalency)', 'Some college, no degree',
                     'Associates degree', 'Bachelors degree', 'Graduate or professional degree']]
    
    # Join columns from subset_df to acs_df
    acs_df['Median household income'] = subset_df['Median household income'].values
    acs_df['Median nonfamily income'] = subset_df['Median nonfamily income'].values

    # Set State column with default state name
    acs_df['State'] = state_name

    # Insert new column with state abbreviations based on state_abb_dict
    acs_df.insert(0, 'STATE_ABB', acs_df['State'].map(state_abb_dict))    
    # Insert column with FIPS state codes based on fips_dict
    acs_df.insert(1, 'FIPS', acs_df['State'].map(fips_dict))

    # Reset index
    acs_df = acs_df.reset_index(drop=True)

    return acs_df

In [7]:
# Function for reading multi-CD state for CD dataset
def read_multi_cd(filename, cols, state_name):
    acs_df = pd.read_csv(filename, header=None, usecols=cols)

    # Omit first three rows
    acs_df = acs_df.iloc[3:,:]
    # Change this value to 'Stat'
    acs_df.iloc[1,0] = 'Stat'
    # Reset index
    acs_df = acs_df.reset_index(drop=True)

    # Transpose
    acs_df = acs_df.transpose()
    # Strip trailing whitespace
    acs_df.iloc[0] = acs_df.iloc[0].str.strip()
    # First row becomes column names
    acs_df.columns = acs_df.iloc[0]
    # Drop first row
    acs_df = acs_df.drop([0])
    # Forward fill NaN on 'Subject' column
    acs_df.loc[:,['Subject']] = acs_df.loc[:,['Subject']].ffill()
    # Substring 'Subject' values
    acs_df['Subject'] = acs_df.Subject.mask(acs_df.Subject.str.len() > 24, acs_df.Subject.str[0:25])
    # Strip trailing whitespace
    acs_df['Subject'] = acs_df['Subject'].str.rstrip()
    # Substring to last two characters if 'Subject' values start with 'Congressional'
    acs_df['Subject'] = acs_df.Subject.mask(acs_df.Subject.str.startswith('Congressional'), acs_df.Subject.str[-2:])
    # Strip leading whitespace
    acs_df['Subject'] = acs_df['Subject'].str.lstrip()
    # Fill in leading zeros
    acs_df['Subject'] = acs_df['Subject'].astype(str).str.zfill(2)

    # Rename 'Subject' column to 'CD'
    acs_df = acs_df.rename(columns={'Subject': 'CD'})

    # Prep subset df
    subset_df = acs_df[acs_df['Stat'] == 'Number']
    subset_df = subset_df[['Median household income', 'Median nonfamily income']]
    
    # Prep main df
    acs_df = acs_df[acs_df['Stat'] == 'Pct']
    acs_df = acs_df[['CD', 'Persons aged 18 to 64 in poverty', 'Persons over 65 in poverty', 'Unemployed civilians',
                     'Less than 9th grade', '9th to 12th grade, no diploma',
                     'High school graduate (includes equivalency)', 'Some college, no degree',
                     'Associates degree', 'Bachelors degree', 'Graduate or professional degree']]
    
    # Join columns from subset_df to acs_df
    acs_df['Median household income'] = subset_df['Median household income'].values
    acs_df['Median nonfamily income'] = subset_df['Median nonfamily income'].values

    # Set State column with default state name
    acs_df['State'] = state_name

    # Insert new column with state abbreviations based on state_abb_dict
    acs_df.insert(0, 'STATE_ABB', acs_df['State'].map(state_abb_dict))    
    # Insert column with FIPS state codes based on fips_dict
    acs_df.insert(1, 'FIPS', acs_df['State'].map(fips_dict))

    # Remove the last row
    acs_df = acs_df.iloc[:-1]
    # Reset index
    acs_df = acs_df.reset_index(drop=True)

    return acs_df

In [8]:
def loop_cds():
    # Make an empty dataframe
    acs_final_df = create_df()
    
    # Directory path
    my_dir = '/Users/darionguan/Desktop/Presidential Prediction/ACS/'

    # For every file in lst
    for filename in os.listdir(my_dir):
        # If the file ends with name of state that has 1 CD
        # Last statement used to dodge .DS_Store file
        if (filename.endswith('Alaska.csv') or filename.endswith('Delaware.csv') or filename.endswith('DC.csv') \
        or filename.endswith('Montana.csv') or filename.endswith('NorthDakota.csv') \
        or filename.endswith('SouthDakota.csv') or filename.endswith('Vermont.csv') \
        or filename.endswith('Wyoming.csv')) and filename.startswith('.') is False:
            # state_name variable to be used in read_one_cd() function
            state_name = file_to_state(filename)
            # Use function for reading 1 CD state
            acs_df = read_one_cd(my_dir + filename, state_name)
            # Concatenate working acs_df to acs_final_df
            acs_final_df = pd.concat([acs_final_df, acs_df], ignore_index=True)

        # Else - statement used to dodge .DS_Store file
        elif filename.startswith('.') is False:
            # Use file_to_state() to find state name from filename
            # Use state name as key to find corresponding number of CDs in state_dict
            # Create an array to be used as number of cols read from csv
            cols = new_arr(state_dict[file_to_state(filename)])
            # state_name variable to be used in read_multi_cd() function
            state_name = file_to_state(filename)
            # Use function for reading multi-CD state
            acs_df = read_multi_cd(my_dir + filename, cols, state_name)
            # Concatenate working acs_df to acs_final_df
            acs_final_df = pd.concat([acs_final_df, acs_df], ignore_index=True)
            
    return acs_final_df

In [9]:
acs_final_df = loop_cds()
    
# Sort by the below columns
acs_final_df = acs_final_df.sort_values(by=['FIPS', 'CD'], ascending=[True, True])

# Reindex
acs_final_df = acs_final_df.reset_index(drop=True)

# Convert dtypes
acs_final_df = acs_final_df.astype({'Median household income': 'int64',
                                    'Median nonfamily income': 'int64',
                                    'Persons aged 18 to 64 in poverty': 'float64',
                                    'Persons over 65 in poverty': 'float64',
                                    'Unemployed civilians': 'float64',
                                    'Less than 9th grade': 'float64',
                                    '9th to 12th grade, no diploma': 'float64',
                                    'High school graduate (includes equivalency)': 'float64',
                                    'Some college, no degree': 'float64',
                                    'Associates degree': 'float64',
                                    'Bachelors degree': 'float64',
                                    'Graduate or professional degree': 'float64'})

# Rename columns
acs_final_df = acs_final_df.rename(columns={acs_final_df.columns[4]: 'MedianHouseholdIncome',
                                            acs_final_df.columns[5]: 'MedianNonfamilyIncome',
                                            acs_final_df.columns[6]: 'Pct18to64InPoverty',
                                            acs_final_df.columns[7]: 'PctOver65InPoverty',
                                            acs_final_df.columns[8]: 'PctUnemployedCivilians',
                                            acs_final_df.columns[9]: 'PctLessThan9thGrade',
                                            acs_final_df.columns[10]: 'Pct9thto12thGrade',
                                            acs_final_df.columns[11]: 'PctHSGrad',
                                            acs_final_df.columns[12]: 'PctSomeCollege',
                                            acs_final_df.columns[13]: 'PctAssociatesDeg',
                                            acs_final_df.columns[14]: 'PctBachelorsDeg',
                                            acs_final_df.columns[15]: 'PctGradDeg'})

# Convert percentages to decimal
acs_final_df['Pct18to64InPoverty'] = acs_final_df['Pct18to64InPoverty'] / 100
acs_final_df['PctOver65InPoverty'] = acs_final_df['PctOver65InPoverty'] / 100
acs_final_df['PctUnemployedCivilians'] = acs_final_df['PctUnemployedCivilians'] / 100
acs_final_df['PctLessThan9thGrade'] = acs_final_df['PctLessThan9thGrade'] / 100
acs_final_df['Pct9thto12thGrade'] = acs_final_df['Pct9thto12thGrade'] / 100
acs_final_df['PctHSGrad'] = acs_final_df['PctHSGrad'] / 100
acs_final_df['PctSomeCollege'] = acs_final_df['PctSomeCollege'] / 100
acs_final_df['PctAssociatesDeg'] = acs_final_df['PctAssociatesDeg'] / 100
acs_final_df['PctBachelorsDeg'] = acs_final_df['PctBachelorsDeg'] / 100
acs_final_df['PctGradDeg'] = acs_final_df['PctGradDeg'] / 100

# Convert df to csv
acs_final_df.to_csv('acs_cd_final.csv')

acs_final_df

,State,STATE_ABB,FIPS,CD,MedianHouseholdIncome,MedianNonfamilyIncome,Pct18to64InPoverty,PctOver65InPoverty,PctUnemployedCivilians,PctLessThan9thGrade,Pct9thto12thGrade,PctHSGrad,PctSomeCollege,PctAssociatesDeg,PctBachelorsDeg,PctGradDeg
0,Alabama,AL,01,01,50663,30805,0.144,0.102,0.057,0.029,0.089,0.336,0.207,0.089,0.161,0.089
1,Alabama,AL,01,02,50494,31799,0.156,0.088,0.045,0.041,0.093,0.319,0.218,0.094,0.148,0.087
2,Alabama,AL,01,03,51925,25093,0.154,0.102,0.059,0.047,0.102,0.309,0.205,0.097,0.136,0.104
3,Alabama,AL,01,04,47531,22794,0.147,0.112,0.043,0.052,0.119,0.342,0.220,0.092,0.115,0.061
4,Alabama,AL,01,05,59950,33709,0.128,0.079,0.043,0.034,0.072,0.272,0.200,0.087,0.209,0.126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,Wisconsin,WI,55,05,77386,44574,0.060,0.070,0.032,0.018,0.033,0.263,0.200,0.105,0.260,0.123
433,Wisconsin,WI,55,06,63251,40066,0.070,0.079,0.025,0.019,0.049,0.337,0.199,0.113,0.194,0.088
434,Wisconsin,WI,55,07,60706,33054,0.092,0.076,0.029,0.023,0.052,0.345,0.210,0.126,0.167,0.077
435,Wisconsin,WI,55,08,65346,38058,0.081,0.068,0.029,0.027,0.043,0.335,0.202,0.120,0.191,0.081
436,Wyoming,WY,56,01,65003,37299,0.103,0.074,0.036,0.017,0.038,0.301,0.240,0.113,0.188,0.104

In [10]:
# Function for reading in 1 CD state for CD dataset
def read_one_state(filename, state_name):
    acs_df = pd.read_csv(filename, header=None, usecols=[0, 1, 2, 3])

    # Omit first three rows
    acs_df = acs_df.iloc[3:,:]
    # Change this value to 'Stat'
    acs_df.iloc[1,0] = 'Stat'
    # Reset index
    acs_df = acs_df.reset_index(drop=True)

    # Transpose
    acs_df = acs_df.transpose()
    # Strip trailing whitespace
    acs_df.iloc[0] = acs_df.iloc[0].str.strip()
    # First row becomes column names
    acs_df.columns = acs_df.iloc[0]
    # Drop first row
    acs_df = acs_df.drop([0])
    # Forward fill NaN on 'Subject' column
    acs_df.loc[:,['Subject']] = acs_df.loc[:,['Subject']].ffill()
    
#     # If one CD, then change 'Subject' to '1'
#     acs_df.loc[acs_df['Subject'].str.startswith('Congressional District (at'), 'Subject'] = '1'.zfill(2)
#     # For DC, 'Subject' string starts with 'Delegate' as opposed to 'Congressional...'
#     acs_df.loc[acs_df['Subject'].str.startswith('Delegate'), 'Subject'] = '1'.zfill(2)
#     # Fill in leading zeros
#     acs_df['Subject'] = acs_df['Subject'].astype(str).str.zfill(2)

    # Change all rows of 'Subject' column to state_name
    acs_df['Subject'] = state_name

    # Rename 'Subject' column to 'State'
    acs_df = acs_df.rename(columns={'Subject': 'State'})
    
    # Prep subset df
    subset_df = acs_df[acs_df['Stat'] == 'Number']
    subset_df = subset_df[['Median household income', 'Median nonfamily income']]
    
    # Prep main df
    acs_df = acs_df[acs_df['Stat'] == 'Pct']
    acs_df = acs_df[['State', 'Persons aged 18 to 64 in poverty', 'Persons over 65 in poverty', 'Unemployed civilians',
                     'Less than 9th grade', '9th to 12th grade, no diploma',
                     'High school graduate (includes equivalency)', 'Some college, no degree',
                     'Associates degree', 'Bachelors degree', 'Graduate or professional degree']]
    
    # Join columns from subset_df to acs_df
    acs_df['Median household income'] = subset_df['Median household income'].values
    acs_df['Median nonfamily income'] = subset_df['Median nonfamily income'].values

    # Insert new column with state abbreviations based on state_abb_dict
    acs_df.insert(0, 'STATE_ABB', acs_df['State'].map(state_abb_dict))    
    # Insert column with FIPS state codes based on fips_dict
    acs_df.insert(1, 'FIPS', acs_df['State'].map(fips_dict))

    # Reset index
    acs_df = acs_df.reset_index(drop=True)

    return acs_df

In [11]:
# Function for reading multi-CD state for state dataset
def read_multi_state(filename, cols, state_name):
    acs_df = pd.read_csv(filename, header=None, usecols=cols)

    # Omit first three rows
    acs_df = acs_df.iloc[3:,:]
    # Change this value to 'Stat'
    acs_df.iloc[1,0] = 'Stat'
    # Reset index
    acs_df = acs_df.reset_index(drop=True)

    # Transpose
    acs_df = acs_df.transpose()
    # Strip trailing whitespace
    acs_df.iloc[0] = acs_df.iloc[0].str.strip()
    # First row becomes column names
    acs_df.columns = acs_df.iloc[0]
    # Drop first row
    acs_df = acs_df.drop([0])
    # Forward fill NaN on 'Subject' column
    acs_df.loc[:,['Subject']] = acs_df.loc[:,['Subject']].ffill()
    
    # Keep last three rows
    acs_df = acs_df[-3:]

    # Change all rows of 'Subject' column to state_name
    acs_df['Subject'] = state_name

    # Rename 'Subject' column to 'State'
    acs_df = acs_df.rename(columns={'Subject': 'State'})

    # Prep subset df
    subset_df = acs_df[acs_df['Stat'] == 'Number']
    subset_df = subset_df[['Median household income', 'Median nonfamily income']]
    
    # Prep main df
    acs_df = acs_df[acs_df['Stat'] == 'Pct']
    acs_df = acs_df[['State', 'Persons aged 18 to 64 in poverty', 'Persons over 65 in poverty', 'Unemployed civilians',
                     'Less than 9th grade', '9th to 12th grade, no diploma',
                     'High school graduate (includes equivalency)', 'Some college, no degree',
                     'Associates degree', 'Bachelors degree', 'Graduate or professional degree']]
    
    # Join columns from subset_df to acs_df
    acs_df['Median household income'] = subset_df['Median household income'].values
    acs_df['Median nonfamily income'] = subset_df['Median nonfamily income'].values

    # Insert new column with state abbreviations based on state_abb_dict
    acs_df.insert(0, 'STATE_ABB', acs_df['State'].map(state_abb_dict))    
    # Insert column with FIPS state codes based on fips_dict
    acs_df.insert(1, 'FIPS', acs_df['State'].map(fips_dict))

    # Reset index
    acs_df = acs_df.reset_index(drop=True)

    return acs_df

In [12]:
def loop_states():
    # Make an empty dataframe
    acs_final_df = create_df()
    
    # Directory path
    my_dir = '/Users/darionguan/Desktop/Presidential Prediction/ACS/'
    
    # For every file in lst
    for filename in os.listdir(my_dir):
        # If the file ends with name of state that has 1 CD
        # Last statement used to dodge .DS_Store file
        if (filename.endswith('Alaska.csv') or filename.endswith('Delaware.csv') or filename.endswith('DC.csv') \
        or filename.endswith('Montana.csv') or filename.endswith('NorthDakota.csv') \
        or filename.endswith('SouthDakota.csv') or filename.endswith('Vermont.csv') \
        or filename.endswith('Wyoming.csv')) and filename.startswith('.') is False:
            # state_name variable to be used in read_one_cd() function
            state_name = file_to_state(filename)
            # Use function for reading 1 CD state
            acs_df = read_one_state(my_dir + filename, state_name)
            # Concatenate working acs_df to acs_final_df
            acs_final_df = pd.concat([acs_final_df, acs_df], ignore_index=True)

        # Else - statement used to dodge .DS_Store file
        elif filename.startswith('.') is False:
            # Use file_to_state() to find state name from filename
            # Use state name as key to find corresponding number of CDs in state_dict
            # Create an array to be used as number of cols read from csv
            cols = new_arr(state_dict[file_to_state(filename)])
            # state_name variable to be used in read_multi_cd() function
            state_name = file_to_state(filename)
            # Use function for reading multi-CD state
            acs_df = read_multi_state(my_dir + filename, cols, state_name)
            # Concatenate working acs_df to acs_final_df
            acs_final_df = pd.concat([acs_final_df, acs_df], ignore_index=True)
    return acs_final_df

In [13]:
# Make an empty dataframe
acs_final_df = create_df()

# Directory path
my_dir = '/Users/darionguan/Desktop/Presidential Prediction/ACS/'

# # For every file in lst
# for filename in os.listdir(my_dir):
#     # If the file ends with name of state that has 1 CD
#     # Last statement used to dodge .DS_Store file
#     if (filename.endswith('Alaska.csv') or filename.endswith('Delaware.csv') or filename.endswith('DC.csv') \
#     or filename.endswith('Montana.csv') or filename.endswith('NorthDakota.csv') \
#     or filename.endswith('SouthDakota.csv') or filename.endswith('Vermont.csv') \
#     or filename.endswith('Wyoming.csv')) and filename.startswith('.') is False:
#         # state_name variable to be used in read_one_cd() function
#         state_name = file_to_state(filename)
#         # Use function for reading 1 CD state
#         acs_df = read_one_state(my_dir + filename, state_name)
#         # Concatenate working acs_df to acs_final_df
#         acs_final_df = pd.concat([acs_final_df, acs_df], ignore_index=True)
        
#     # Else - statement used to dodge .DS_Store file
#     elif filename.startswith('.') is False:
#         # Use file_to_state() to find state name from filename
#         # Use state name as key to find corresponding number of CDs in state_dict
#         # Create an array to be used as number of cols read from csv
#         cols = new_arr(state_dict[file_to_state(filename)])
#         # state_name variable to be used in read_multi_cd() function
#         state_name = file_to_state(filename)
#         # Use function for reading multi-CD state
#         acs_df = read_multi_state(my_dir + filename, cols, state_name)
#         # Concatenate working acs_df to acs_final_df
#         acs_final_df = pd.concat([acs_final_df, acs_df], ignore_index=True)

acs_final_df = loop_states()

# Sort by columns
acs_final_df = acs_final_df.sort_values(by='FIPS', ascending=True)

# Drop CD column
acs_final_df = acs_final_df.drop('CD', axis=1)

# Reindex
acs_final_df = acs_final_df.reset_index(drop=True)

# Convert dtypes
acs_final_df = acs_final_df.astype({'Median household income': 'int64',
                                    'Median nonfamily income': 'int64',
                                    'Persons aged 18 to 64 in poverty': 'float64',
                                    'Persons over 65 in poverty': 'float64',
                                    'Unemployed civilians': 'float64',
                                    'Less than 9th grade': 'float64',
                                    '9th to 12th grade, no diploma': 'float64',
                                    'High school graduate (includes equivalency)': 'float64',
                                    'Some college, no degree': 'float64',
                                    'Associates degree': 'float64',
                                    'Bachelors degree': 'float64',
                                    'Graduate or professional degree': 'float64'})

# Rename columns
acs_final_df = acs_final_df.rename(columns={acs_final_df.columns[3]: 'MedianHouseholdIncome',
                                            acs_final_df.columns[4]: 'MedianNonfamilyIncome',
                                            acs_final_df.columns[5]: 'Pct18to64InPoverty',
                                            acs_final_df.columns[6]: 'PctOver65InPoverty',
                                            acs_final_df.columns[7]: 'PctUnemployedCivilians',
                                            acs_final_df.columns[8]: 'PctLessThan9thGrade',
                                            acs_final_df.columns[9]: 'Pct9thto12thGrade',
                                            acs_final_df.columns[10]: 'PctHSGrad',
                                            acs_final_df.columns[11]: 'PctSomeCollege',
                                            acs_final_df.columns[12]: 'PctAssociatesDeg',
                                            acs_final_df.columns[13]: 'PctBachelorsDeg',
                                            acs_final_df.columns[14]: 'PctGradDeg'})

# Convert percentages to decimal
acs_final_df['Pct18to64InPoverty'] = acs_final_df['Pct18to64InPoverty'] / 100
acs_final_df['PctOver65InPoverty'] = acs_final_df['PctOver65InPoverty'] / 100
acs_final_df['PctUnemployedCivilians'] = acs_final_df['PctUnemployedCivilians'] / 100
acs_final_df['PctLessThan9thGrade'] = acs_final_df['PctLessThan9thGrade'] / 100
acs_final_df['Pct9thto12thGrade'] = acs_final_df['Pct9thto12thGrade'] / 100
acs_final_df['PctHSGrad'] = acs_final_df['PctHSGrad'] / 100
acs_final_df['PctSomeCollege'] = acs_final_df['PctSomeCollege'] / 100
acs_final_df['PctAssociatesDeg'] = acs_final_df['PctAssociatesDeg'] / 100
acs_final_df['PctBachelorsDeg'] = acs_final_df['PctBachelorsDeg'] / 100
acs_final_df['PctGradDeg'] = acs_final_df['PctGradDeg'] / 100

# Convert df to csv
acs_final_df.to_csv('acs_state_final.csv')

acs_final_df

,State,STATE_ABB,FIPS,MedianHouseholdIncome,MedianNonfamilyIncome,Pct18to64InPoverty,PctOver65InPoverty,PctUnemployedCivilians,PctLessThan9thGrade,Pct9thto12thGrade,PctHSGrad,PctSomeCollege,PctAssociatesDeg,PctBachelorsDeg,PctGradDeg
0,Alabama,AL,01,51734,29458,0.147,0.105,0.049,0.039,0.090,0.309,0.208,0.090,0.163,0.100
1,Alaska,AK,02,75463,47508,0.095,0.069,0.058,0.022,0.043,0.287,0.257,0.090,0.185,0.117
2,Arizona,AZ,04,62055,40198,0.127,0.090,0.051,0.051,0.073,0.237,0.250,0.087,0.188,0.113
3,Arkansas,AR,05,48952,27607,0.155,0.105,0.048,0.046,0.079,0.349,0.218,0.075,0.151,0.083
4,California,CA,06,80440,51676,0.107,0.105,0.051,0.087,0.073,0.206,0.206,0.079,0.219,0.131
5,Colorado,CO,08,77127,50092,0.093,0.072,0.037,0.032,0.044,0.210,0.203,0.084,0.266,0.160
6,Connecticut,CT,09,78833,45001,0.094,0.073,0.053,0.040,0.053,0.268,0.165,0.076,0.220,0.178
7,Delaware,DE,10,70176,44071,0.108,0.073,0.046,0.035,0.062,0.302,0.186,0.083,0.195,0.137
8,DC,DC,11,92266,76529,0.120,0.133,0.063,0.033,0.049,0.158,0.130,0.033,0.257,0.340
9,Florida,FL,12,59227,37292,0.117,0.107,0.045,0.046,0.070,0.284,0.194,0.099,0.193,0.114
10,Georgia,GA,13,61980,37881,0.119,0.104,0.048,0.045,0.076,0.274,0.200,0.080,0.199,0.126
11,Hawaii,HI,15,83102,51343,0.085,0.087,0.039,0.036,0.040,0.274,0.207,0.106,0.221,0.116
12,Idaho,ID,16,60999,35157,0.115,0.069,0.033,0.030,0.055,0.261,0.260,0.106,0.188,0.099
13,Illinois,IL,17,69187,40860,0.107,0.086,0.048,0.045,0.057,0.259,0.200,0.082,0.217,0.141
14,Indiana,IN,18,57603,33994,0.118,0.077,0.042,0.036,0.068,0.339,0.199,0.088,0.173,0.097
15,Iowa,IA,19,61691,36559,0.116,0.074,0.037,0.027,0.046,0.310,0.204,0.119,0.198,0.095
16,Kansas,KS,20,62087,36347,0.112,0.072,0.038,0.033,0.049,0.263,0.224,0.090,0.216,0.124
17,Kentucky,KY,21,52295,30384,0.155,0.116,0.048,0.051,0.077,0.332,0.203,0.085,0.149,0.103
18,Louisiana,LA,22,51073,28907,0.174,0.132,0.055,0.044,0.096,0.339,0.206,0.064,0.160,0.089
19,Maine,ME,23,58924,35624,0.108,0.085,0.035,0.021,0.047,0.314,0.186,0.100,0.208,0.124
20,Maryland,MD,24,86738,51990,0.083,0.078,0.045,0.040,0.056,0.246,0.180,0.069,0.218,0.191
21,Massachusetts,MA,25,85843,50338,0.088,0.091,0.039,0.042,0.045,0.239,0.150,0.074,0.247,0.203
22,Michigan,MI,26,59584,35755,0.127,0.084,0.050,0.027,0.060,0.291,0.228,0.094,0.182,0.119
23,Minnesota,MN,27,74593,44136,0.085,0.074,0.032,0.027,0.037,0.244,0.204,0.115,0.245,0.127
24,Mississippi,MS,28,45792,25562,0.180,0.132,0.066,0.046,0.101,0.302,0.223,0.105,0.137,0.086
25,Missouri,MO,29,57409,33821,0.125,0.089,0.038,0.029,0.064,0.311,0.214,0.079,0.184,0.118
26,Montana,MT,30,57153,34919,0.132,0.086,0.041,0.016,0.041,0.284,0.229,0.094,0.231,0.105
27,Nebraska,NE,31,63229,37791,0.099,0.081,0.033,0.034,0.045,0.257,0.220,0.111,0.218,0.114
28,Nevada,NV,32,63276,41065,0.117,0.095,0.051,0.051,0.080,0.278,0.246,0.088,0.167,0.090
29,NewHampshire,NH,33,77933,45803,0.076,0.062,0.030,0.020,0.047,0.281,0.178,0.099,0.229,0.147
30,NewJersey,NJ,34,85751,49643,0.081,0.088,0.047,0.047,0.050,0.269,0.157,0.064,0.251,0.161
31,NewMexico,NM,35,51945,32958,0.170,0.135,0.055,0.058,0.083,0.264,0.227,0.091,0.155,0.122
32,NewYork,NY,36,72108,44681,0.116,0.120,0.044,0.058,0.066,0.258,0.152,0.088,0.212,0.166
33,NorthCarolina,NC,37,57341,34864,0.127,0.091,0.046,0.042,0.072,0.256,0.206,0.101,0.205,0.118
34,NorthDakota,ND,38,64577,38698,0.113,0.080,0.026,0.026,0.039,0.267,0.224,0.140,0.215,0.089
35,Ohio,OH,39,58642,35147,0.124,0.083,0.046,0.027,0.065,0.326,0.201,0.087,0.182,0.111
36,Oklahoma,OK,40,54449,32185,0.147,0.097,0.044,0.039,0.077,0.315,0.228,0.079,0.171,0.091
37,Oregon,OR,41,67058,41733,0.118,0.081,0.050,0.033,0.054,0.230,0.248,0.090,0.210,0.135
38,Pennsylvania,PA,42,63463,36748,0.115,0.083,0.045,0.030,0.060,0.344,0.157,0.086,0.195,0.128
39,RhodeIsland,RI,44,71169,40254,0.104,0.089,0.042,0.050,0.057,0.284,0.174,0.086,0.209,0.139
40,SouthCarolina,SC,45,56227,33610,0.129,0.101,0.047,0.037,0.079,0.285,0.204,0.099,0.184,0.112
41,SouthDakota,SD,46,59533,35697,0.119,0.077,0.030,0.028,0.051,0.300,0.205,0.119,0.206,0.091
42,Tennessee,TN,47,56071,33992,0.129,0.097,0.045,0.043,0.077,0.315,0.203,0.074,0.180,0.107
43,Texas,TX,48,64034,40389,0.119,0.106,0.044,0.077,0.077,0.252,0.212,0.075,0.200,0.108
44,Utah,UT,49,75780,42659,0.089,0.062,0.032,0.024,0.045,0.231,0.255,0.097,0.234,0.113
45,Vermont,VT,50,63001,38034,0.115,0.061,0.034,0.021,0.048,0.290,0.167,0.087,0.227,0.160
46,Virginia,VA,51,76456,46570,0.094,0.071,0.040,0.038,0.062,0.236,0.189,0.080,0.224,0.172
47,Washington,WA,53,78687,50045,0.096,0.075,0.046,0.035,0.048,0.221,0.227,0.100,0.228,0.142
48,WestVirginia,WV,54,48850,26752,0.170,0.093,0.060,0.042,0.087,0.402,0.179,0.079,0.126,0.084
49,Wisconsin,WI,55,64168,38937,0.102,0.074,0.032,0.025,0.048,0.305,0.200,0.109,0.207,0.107
50,Wyoming,WY,56,65003,37299,0.103,0.074,0.036,0.017,0.038,0.301,0.240,0.113,0.188,0.104